---
title: 1856 E 61st Ave to Clark Drive &amp; Kingsway
layout: map
js: /js/b-to-cedar.js
css: /css/b-to-cedar.css

start: 1856 E 61st Ave
end: Clark Drive &amp; E 21st Ave
---
#route-descriptions
  %h1 Possible Routes
  .option.one.selected{'data-route' => 'via-dumfries'}
    .label.clickable
      .selection-arrow
    .content
      .route-name Argyle &amp; Dumfries
      .route-logistics 4.9km, 21 mins
    .clear
    .label Hills
    .content.route-scrubber
      %img{'src' => '/img/elevation_via-dumfries.png'}  
      .position-indicator.hills
    .clear
    .label Traffic
    .content.route-scrubber
      %img{'src' => '/img/traffic_via-dumfries.png'}  
      .position-indicator.traffic
    .clear
  .option.two{'data-route' => 'via-inverness'}
    .label.clickable
      .selection-arrow
    .content
      .route-name Inverness &amp; Windsor
      .route-logistics 5.7km, 27 mins
    .clear
    .label Hills
    .content.route-scrubber
      %img{'src' => '/img/elevation_via-inverness.png'}  
      .position-indicator.hills
    .label Traffic
    .content.route-scrubber
      %img{'src' => '/img/traffic_via-inverness.png'}  
      .position-indicator.traffic
    .clear

{% include to-cedar-directions.haml %}
{% include legend-b.haml %}
