---
title: Maps
layout: default
---
%h1 Sequences 
:markdown
  * [Sequence 1](sequence-1.html)
  * [Sequence 2](sequence-2.html)
  * [Sequence 3](sequence-3.html)
  * [Sequence 4](sequence-4.html)

%h1 Maps
%h2 Style A
%ul
  %li 
    %a{:href => 'a-to-kits.html'} From Srathcona to Kits Beach
  %li
    %a{:href => 'a-to-cedar.html'} From S Vancouver to Cedar Cottage
%h2 Style B
%ul
  %li 
    %a{:href => 'b-to-kits.html'} From Srathcona to Kits Beach
  %li
    %a{:href => 'b-to-cedar.html'} From S Vancouver to Cedar Cottage
