#legend
{%include legend-bike-routes.haml %}

  %h2 Neighbourhoods
  %table.neighbourhoods
    %tr
      %td
        #residential-neighbourhood-legend
      %td residential
    %tr
      %td
        #commercial-neighbourhood-legend
      %td commercial
    %tr
      %td
        #industrial-neighbourhood-legend
      %td industrial
