#legend
{% include legend-bike-routes.haml %}

  %h2 Hills
  %table.hills
    %tr
      %td
        %img{:src => 'img/hill-icon_1.png'}
      %td
        gentle
    %tr
      %td
        %img{:src => 'img/hill-icon_2.png'}
    %tr
      %td
        %img{:src => 'img/hill-icon_3.png'}
      %td
        steep


