  -# Have to indent two spaces in this file, because that's what
  -# the indentation is when it's included
  %h2 Bike Routes
  %table
    %tr
      %td
        #off-street-bikeway-legend
      %td off-street
    %tr
      %td
        #neighbourhood-bikeway-legend
      %td neighbourhood bikeway
    %tr
      %td
        #bike-lane-legend
      %td bike lane
    %tr
      %td
        #shared-roadway-legend
      %td shared roadway
    %tr
      %td
        #regular-street-legend
      %td 
        regular street
    %tr
      %td
      %td 
        (not an official bike route)
