#directions
  %h1 Directions
  .option.selected{'data-route' => 'via-dumfries'}
    %h2 Via Argyle &amp; Dumfries
    %ol
      %li
        :markdown
          Head *west* on *E 61st Ave* toward *Thornhill Dr*
      %li
        :markdown
          Turn right onto *Thornhill Dr*
      %li
        :markdown
          Turn left onto *Prestwick Dr*
      %li
        :markdown
          Turn right onto *Upland Dr*
      %li
        :markdown
          Turn left onto *Braeburn St*
        %div.mood-container{'data-comment-ids' => 'argyle-cars'}
      %li
        :markdown
          Turn left onto *E 56th Ave*
      %li
        :markdown
          Turn right onto *Argyle St*
      %li
        :markdown
          Turn left onto *E 43rd Ave*
      %li
        :markdown
          Turn right onto *Fleming St*
      %li
        :markdown
          Turn left onto *E 37th Ave/Midtown Bikeway/Ridgeway Bikeway*
      %li
        :markdown
          Turn right onto *Dumfries St*
        %div.mood-container{'data-comment-ids' => 'dumfries-views'}
      %li
        :markdown
          Turn left onto *Kingsway*
        %div.mood-container{'data-comment-ids' => 'kingsway-speed'}

  .option{'data-route' => 'via-inverness'}
    %h2 Via Inverness &amp; Windsor
    %ol
      %li
        :markdown
          Head *west* on *E 61st Ave* toward *Thornhill Dr*
      %li
        :markdown
          Turn right onto *Inverness St*
      %li
        :markdown
          Turn left onto *E 43rd Ave/Windsor Bikeway*
        %div.mood-container{'data-comment-ids' => 'inverness-turn'}
      %li
        :markdown
          Turn right to stay on *Windsor Bikeway*
        %div.mood-container{'data-comment-ids' => 'memorial-south-park inverness-quiet inverness-trees'}
      %li
        :markdown
          Turn right onto *E 24th Ave*
      %li
        :markdown
          Turn left onto *Clark Dr*
