#directions
  %h1 Directions
  .option.selected{'data-route' => 'via-pacific'}
    %h2 Via Pacific Blvd
    %ol
      %li 
        :markdown
          Head *west* on *Keefer St* toward *Heatley Ave*
      %li 
        :markdown
          Turn left onto *Heatley Ave*
      %li 
        :markdown
          Turn right onto *Union St*
      %li 
        :markdown
          Turn left onto *Quebec St*
      %li 
        :markdown
          Keep right at the fork
      %li 
        :markdown
          Turn left to stay on *Quebec St*
      %li 
        :markdown
          Turn right toward *Seaside Bicycle Route*
        %div.mood-container{'data-comment-ids' => 'north-false-creek'}
      %li
        :markdown
          Turn right toward *Marinaside Crescent*
      %li 
        :markdown
          At the roundabout, take the *1st* exit onto *Davie St*
      %li 
        :markdown
          Turn left onto *Pacific Blvd*
        %div.mood-container{'data-comment-ids' => 'pacific-doored pacific-traffic'}
      %li 
        :markdown
          Turn left onto *Burrard St*
        %div.mood-container{'data-comment-ids' => 'burrard-bridge'}
      %li 
        :markdown
          Keep right at the fork
      %li 
        :markdown
          Continue onto *Cornwall Ave*
      %li 
        :markdown
          Turn right onto *Cypress St*
      %li 
        :markdown
          Turn right toward *Cypress St*
      %li 
        :markdown
          Turn left onto *Whyte Ave*

  .option{'data-route' => 'via-expo'}
    %h2 Via Expo Blvd
    %ol
      %li
        :markdown
          Head *west* on *Keefer St* toward *Heatley Ave*
        %div.mood-container{'data-comment-ids' => 'chinatown'}
      %li
        :markdown
          Turn left onto *Carrall St*
      %li
        :markdown
          Turn right onto *Expo Blvd*
        %div.mood-container{'data-comment-ids' => 'costco'}
      %li
        :markdown
          Continue onto *Pacific Blvd*
        %div.mood-container{'data-comment-ids' => 'pacific-doored pacific-traffic'}
      %li
        :markdown
          Turn left onto *Burrard St*
        %div.mood-container{'data-comment-ids' => 'burrard-bridge'}
      %li
        :markdown
          Keep right at the fork
      %li
        :markdown
          Continue onto *Cornwall Ave*
      %li
        :markdown
          Turn right onto *Cypress St*
      %li
        :markdown
          Turn left onto *Whyte Ave*
                 
  .option{'data-route' => 'via-first'}
    %h2 Via 1st Ave
    %ol
      %li
        :markdown
          Head *west* on *Keefer St* toward *Heatley Ave*
      %li
        :markdown
          Turn left at *Heatley Ave*
      %li
        :markdown
          Turn right onto *Union St*
      %li
        :markdown
          Turn left onto *Quebec St*
      %li
        :markdown
          Keep right at the fork
      %li
        :markdown
          Turn left to stay on *Quebec St*
      %li
        :markdown
          Turn right toward *Seaside Bicycle Route*
      %li
        :markdown
          Turn left onto *Seaside Bicycle Route*
      %li
        :markdown
          Turn left toward *Ontario St*
        %div.mood-container{'data-comment-ids' => 'olympic-village'}
      %li
        :markdown
          Turn right onto *W 1st Ave*
        %div.mood-container{'data-comment-ids' => 'junk-on-first'}
      %li
        :markdown
          Continue onto *Commodore Rd*
      %li
        :markdown
          Turn left onto *Moberly Rd*
        %div.mood-container{'data-comment-ids' => 'first-is-fast'}
      %li
        :markdown
          Slight right onto *Charleson Rd*
        %div.mood-container{'data-comment-ids' => 'first-is-relaxed'}
      %li
        :markdown
          Continue onto *Lameys Mill Rd*
      %li
        :markdown
          Slight right to stay on *Lameys Mill Rd*
      %li
        :markdown
          Continue onto *West 2nd Avenue*
      %li
        :markdown
          Turn right onto *Fir St*
      %li
        :markdown
          Turn left onto *W 1st Ave*
        %div.mood-container{'data-comment-ids' => 'first-turn'}
      %li
        :markdown
          Turn right onto *Cypress St*
      %li
        :markdown
          Turn left onto *Whyte Ave*
